.error-wrapper {
	background-color: #282828;
}



.error-img{
	position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    margin: auto;
}

.error-img:hover{
	border-color: turquoise;
	border-style: solid;
	border-width: 1px;
	opacity: 75%;
	cursor: pointer;

}

@media(min-width: 400px){

	.error-img {
		width: 400px;
		height: 400px;
	}
}

@media(max-width: 400px){
	.error-img {
		width: 80%;
	}
}