
.text-wrapper{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 70px;
}



@media(min-width: 500px){

	.text-wrapper{
    width: 80%;
   }
   
}

@media(max-width: 500px){
	.text-wrapper{
    width: 90%;
  }
}



.about-us-text{
	font-size: 25px;
  font-weight: 300;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	padding-top: 10px;
}


/* currently this represents phone screens */
/* media queries should be added for anything larger */

.personnel_img{
	border-radius: 100px;
	box-shadow: black 5px 5px 5px;

}	

.personnel_img:hover{
	box-shadow: black 0px 0px 0px;
}	


.personnel_row1{
	flex-wrap: wrap;
	display: flex;
	padding-top: 70px;
}


.personnel_row2{
	flex-wrap: wrap-reverse !important;
	display: flex;
	padding-top: 70px;
}

.cont_volum{
	flex-grow: 0;
	
}

.personnel_col1{
	flex-grow: 0;
}

.personnel_col2{
	flex-grow: 0;
}

.col2-text{
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	color: black;
	font-family: 'Libre Franklin', sans-serif;

}

.col1-text{
	font-size: 28px;
	font-weight: 700;
	text-align: left;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
}


.col4-text{
	font-size: 28px;
	font-weight: 500;
	color: black;
	font-family: 'Libre Franklin', sans-serif;

}

.col3-text{
	font-size: 28px;
	font-weight: 700;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
}

.text-container_row{
	display: flex;
	flex-wrap: wrap;
}

.personnel_text-container{
	height: 100%;
	width: 100%;

}


@media(max-width: 900px){

	.personnel_row1{
		padding-top: 35px;
	}
	.personnel_row2{
		padding-top: 35px;
	}

	.personnel_img{
		width: 70%;
	}

}


@media(min-width: 900px){

	.col4-text {
		text-align: right;
	}

	.col3-text {
		text-align: right;
	}

	.personnel_text-container{
		padding-top: 25px;
	}

	.personnel_col1{
		width: 35vw;
	}

	.personnel_col2{
		width: 45vw;
	}

	
	.personnel_img{
		width: 200px;
		height: 200px;
	}

}

@media(max-width: 900px) and (min-width: 500px){
	

	.col4-text {
		text-align: left;
	}

	.col3-text {
		text-align: left;
	}

	.personnel_text-container{
		padding-top: 0px;
	}

	.personnel_col1{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.personnel_col2{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.personnel_img{
		width: 70%;
	}


}




@media(max-width: 500px){


	.personnel_text-container{
		padding-top: 0px;
	}

	.personnel_col1{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.personnel_col2{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.personnel_img{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

}


@media(min-width: 900px){
	.text-container_col1{
		width: 30%;
	}

	.text-container_col2{
		width: 70%;
	}
	.text-container_col3{
		width: 40%;
	}

	.text-container_col4{
		width: 60%;
	}
}

@media(max-width: 900px) and (min-width: 700px){
	.text-container_col1{
		width: 50%;
	}

	.text-container_col2{
		width: 50%;
	}

	.text-container_col3{
		width: 50%;
	}

	.text-container_col4{
		width: 50%;
	}
}

@media(max-width: 700px){
	.text-container_col1{
		width: 100%;
	}

	.text-container_col2{
		width: 100%;
	}
	.text-container_col3{
		width: 100%;
	}

	.text-container_col4{
		width: 100%;
	}
}

.page-background{
	background-size: 100vw 100%;
    background-repeat: no-repeat;
    background-image: url("../images/about_us_colours.jpg");
    background-position: center;
    height: 100%;
    width: 100vw;
}



.index-body {
	background-color: transparent !important;
}

.subtitle-wrapper{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 70px;
}


@media(min-width: 1000px){
	.subtitle-wrapper{
		width: 640px;
	}

}

@media(max-width: 1000px) and (min-width: 500px){
	.subtitle-wrapper{
		width: 80%;
	}

}

@media(max-width: 500px){
	.subtitle-wrapper{
		width: 95%;
	}

}

.sub-title{
    color: black;
    font-weight: 900;
    margin-left: 15px;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
}



.separator{
    color: black;
    margin-left: auto;
    margin-right: auto;
    outline: black;
    outline-color: black;
    outline-width: 10px;
}

@media(min-width: 500px){

	.separator{
    width: 80%;
   }
   
}

@media(max-width: 500px){
	.separator{
    width: 95%;
  }
}


/* Form css */

.form-wrapper{
		padding-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

@media(min-width: 1000px){

	.form-wrapper{
		width: 640px;
	}

	.separator{
    width: 80%;
   }

}

@media(max-width: 1000px) and (min-width: 500px){
	.form-wrapper{
		width: 80%;
	}

	.separator{
    width: 80%;
   }

}

@media(max-width: 500px){

	.form-wrapper{
		width: 95%;
	}

	.separator{
    width: 95%;
  }

}


div.error{
  color: red;
  font-weight: bold;
  }

.form-row{
  flex-wrap: wrap;
  width: 100%;
}

.form-col{
  flex-grow: 1;
}


.form-label{
	font-size: 25px;
    font-weight: 300;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
}

.form-button-text{
	font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 10px;
}

