
.cont_comic_about{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}


.about_descr{
	font-size: 25px;
    font-weight: 300;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	padding-top: 10px;
}


/* currently this represents phone screens */
/* media queries should be added for anything larger */

.v_pl_img{
	outline: solid;
	outline-color: turquoise;
	outline-width: 2px;
	border-radius: 100px;
	box-shadow: black 5px 5px 5px;

}	

.v_pl_img:hover{
	box-shadow: black 0px 0px 0px;
}	


.rowwww{
	flex-wrap: wrap;
	display: flex;
}

.rowwww_2{
	flex-wrap: wrap-reverse;
	display: flex;
}

.cont_volum{
	flex-grow: 0;
	
}

.cont_volum_2{
	flex-grow: 0;
}

.cont_volum_3{
	flex-grow: 0;
}

.volume_num{
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	color: black;
	font-family: 'Libre Franklin', sans-serif;

}

.volume_num_head{
	font-size: 25px;
	font-weight: 700;
	text-align: left;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
	text-shadow: black 1px 1px 1px;
}


.volume_num_2{
	font-size: 25px;
	font-weight: 700;
	color: black;
	font-family: 'Libre Franklin', sans-serif;

}

.volume_num_head_2{
	font-size: 25px;
	font-weight: 700;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
	text-shadow: black 1px 1px 1px;
}

.v_row{
	display: flex;
	flex-wrap: wrap;
}

.vert_centred_cont{
	height: 100%;
	width: 100%;

}


@media(min-width: 900px){

	.volume_num_2 {
		text-align: right;
	}

	.volume_num_head_2 {
		text-align: right;
	}

	.vert_centred_cont{
		padding-top: 25px;
	}

	.cont_volum_2{
		width: 35vw;
	}

	.cont_volum_3{
		width: 45vw;
	}

	
	.v_pl_img{
		width: 200px;
		height: 200px;
	}

}

@media(max-width: 900px) and (min-width: 400px){
	

	.volume_num_2 {
		text-align: left;
	}

	.volume_num_head_2 {
		text-align: left;
	}


	.vert_centred_cont{
		padding-top: 0px;
	}



	.cont_volum_2{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.cont_volum_3{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}




	.v_pl_img{
		width: 200px;
		height: 200px;
	}


}




@media(max-width: 400px){

	.vert_centred_cont{
		padding-top: 0px;
	}

	.cont_volum_2{
		width: 100%;
	}

	.cont_volum_3{
		width: 100%;
	}
	
	.v_pl_img{
	width: 100%;
	}

}


@media(min-width: 900px){
	.col_1{
		width: 30%;
	}

	.col_2{
		width: 70%;
	}
}

@media(max-width: 900px) and (min-width: 700px){
	.col_1{
		width: 45%;
	}

	.col_2{
		width: 55%;
	}
}

@media(max-width: 700px){
	.col_1{
		width: 100%;
	}

	.col_2{
		width: 100%;
	}
}

.black_green{
	background-size: 100vw 100%;
    background-repeat: no-repeat;
    background-image: url("../images/about_us_colours.jpg");
    background-position: center;
    height: 100%;
    width: 100vw;
}



.index_body {
	background-color: transparent !important;
}
