
.text-wrapper{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 70px;
}


@media(min-width: 500px){

	.text-wrapper{
    width: 80%;
   }
   
}

@media(max-width: 500px){
	.text-wrapper{
    width: 95%;
  }
}



.about-us-text{
	font-size: 25px;
  font-weight: 300;
  color: #282828;
  font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	padding-top: 10px;
}


/* currently this represents phone screens */
/* media queries should be added for anything larger */

.personnel_img{
	box-shadow: #282828 5px 5px 5px;

}	

.personnel_img:hover{
	box-shadow: #282828 0px 0px 0px;
}	


.personnel_row1{
	flex-wrap: wrap;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}


.personnel_row2{
	flex-wrap: wrap-reverse !important;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}



.cont_volum{
	flex-grow: 0;
	
}

.personnel_col1{
	flex-grow: 0;
}

.personnel_col2{
	flex-grow: 0;
}

.col2-text{
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	color: #282828;
	font-family: 'Libre Franklin', sans-serif;
	
}

.col1-text{
	font-size: 28px;
	font-weight: 700;
	text-align: left;
  color: #282828;
  font-family: 'Libre Franklin', sans-serif;
  }


.col4-text{
	font-size: 28px;
	font-weight: 500;
	font-family: 'Libre Franklin', sans-serif;
	color: #282828;

}

.col3-text{
	font-size: 28px;
	font-weight: 700;
	color: #282828;
	font-family: 'Libre Franklin', sans-serif;
}

.text-container_row{
	display: flex;
	flex-wrap: wrap;
}

.personnel_text-container{
	height: 100%;
	width: 100%;


}

@media(min-width: 1100px){
	.personnel_row1{
		width: 890px;
		margin-top: 50px;
	}

	.personnel_row2{
		width: 890px;
		margin-top: 50px;
	}
}


@media(max-width: 1100px){
	.personnel_row1{
		width: 100%;
		margin-top: 15px;
	}

	.personnel_row2{
		width: 100%;
		margin-top: 15px;
	}
}


@media(min-width: 1100px){
	.personnel_col1{
		width: 500px;
	}

	.personnel_col2{
		width: 382px;
	}

	
	.personnel_img{
		width: 426px;
		height: 284px;
	}

	.col4-text {
		text-align: left;
	}

	.col3-text {
		text-align: center;
	}

	.personnel_text-container{
		padding-top: 25px;
	}


}


@media(min-width: 900px) and (max-width: 1100px){

	.col4-text {
		text-align: left;
	}

	.col3-text {
		text-align: center;
	}

	.personnel_text-container{
		padding-top: 25px;
	}

	.personnel_col1{
		width: 35vw;
	}

	.personnel_col2{
		width: 45vw;
	}

	
	.personnel_img{
		width: 220px;
		height: 140px;
	}

}

@media(max-width: 900px) and (min-width: 500px){
	

	.col4-text {
		text-align: left;
	}

	.col3-text {
		text-align: left;
	}

	.personnel_text-container{
		padding-top: 0px;
	}

	.personnel_col1{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.personnel_col2{
		width: 95%;
		margin-left: auto;
	}

	.personnel_img{
		width: 70%;
	}


}




@media(max-width: 500px){


	.personnel_text-container{
		padding-top: 0px;
	}

	.personnel_col1{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.personnel_col2{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.personnel_img{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

}


@media(min-width: 900px){
	.text-container_col1{
		width: 30%;
	}

	.text-container_col2{
		width: 70%;
	}
	.text-container_col3{
		width: 40%;
	}

	.text-container_col4{
		width: 60%;
	}
}

@media(max-width: 900px) and (min-width: 700px){
	.text-container_col1{
		width: 30%;
	}

	.text-container_col2{
		width: 70%;
	}

	.text-container_col3{
		width: 30%;
	}

	.text-container_col4{
		width: 70%;
	}
}

@media(max-width: 700px){
	.text-container_col1{
		width: 100%;
	}

	.text-container_col2{
		width: 100%;
	}
	.text-container_col3{
		width: 100%;
	}

	.text-container_col4{
		width: 100%;
	}
}

.page-background{
	background-size: 100vw 100%;
    background-repeat: no-repeat;
    background-image: url("../images/about_us_colours.jpg");
    background-position: center;
    height: 100%;
    width: 100vw;
}



.index-body {
	background-color: transparent !important;
}

.subtitle-wrapper{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 50px;
}



.sub-title{

    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
    background: rgb(64,224,208);
		background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(71,200,187,1) 44%, rgba(115,214,204,1) 88%);
    color: #282828;
    width: 200px;
    text-align: center;
    font-size: 50px;
}



@media(min-width: 500px){
	.subtitle-wrapper{
		width: 80%;
	}

}

@media(max-width: 500px){
	.subtitle-wrapper{
		width: 95%;
	}

}


.subtitle-wrapper-1{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 50px;
}



.sub-title-1{

    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
    background: rgb(64,224,208);
		background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(71,200,187,1) 44%, rgba(115,214,204,1) 88%);
    color: #282828;
    width: 350px;
    text-align: center;
    font-size: 50px;
}

@media(max-width: 500px){
	.sub-title-1{
		width: 350px;
	}
}


@media(max-width: 500px){
	.sub-title-1{
		width: 280px;
	}
}


@media(min-width: 500px){
	.subtitle-wrapper-1{
		width: 80%;
	}

}

@media(max-width: 500px){
	.subtitle-wrapper-1{
		width: 95%;
	}

}





.separator{
    color: #282828;
    margin-left: auto;
    margin-right: auto;
    outline: #282828;
    outline-color: #282828;
    outline-width: 10px;
    margin-top: 70px;
}

@media(min-width: 500px){

	.separator{
    width: 80%;
   }
   
}

@media(max-width: 500px){
	.separator{
    width: 95%;
  }
}


/* Form css */

.form-wrapper-parent{
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}


@media(min-width: 1000px){

	.form-wrapper-parent{
		width: 80%;
	}

	.form-wrapper{
		width: 640px;
	}

	.separator{
    width: 80%;
   }

}

@media(max-width: 1000px) and (min-width: 500px){
	
	.form-wrapper-parent{
		width: 80%;
	}

	.form-wrapper{
		width: 100%;
	}

	.separator{
    width: 80%;
   }

}

@media(max-width: 500px){

	.form-wrapper-parent{
		width: 95%;
	}


	.form-wrapper{
		width: 100%;
	}

	.separator{
    width: 90%;
  }

}


div.error{
  color: red;
  font-weight: bold;
  }

.form-row{
  flex-wrap: wrap;
  width: 100%;
}

.form-col{
  flex-grow: 1;
}


.form-label{
	font-size: 28px;
	font-weight: 700;
	color: #282828;
	font-family: 'Libre Franklin', sans-serif;
}



.form-button{
	background-color: #282828 !important;
	width: 150px;
	height: 55px !important;
	box-shadow: #282828 2px 2px 2px;
	border-color: turquoise !important;
	border-width: 2px !important;
}

.form-button:hover{
	background-color: turquoise !important;
	box-shadow: #282828 2px 2px 2px;

}

.form-button-text{
	color: #fafafa !important;
	font-family: 'Lora', serif !important;
	font-size: 25px !important;
}

