
.cr1 {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
}

.wrapcol{
	width: 100%;
}

.c1{
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.hyperlink_wrap{
	padding-top: 80px;
}






@media(min-width: 500px){

	.c1{
		width: 500px;
	}

	.c_pl_img{
		width: 320px;
	}

	.cont_1{
		width: 400px;
	}

	.com_name{
		font-size: 25px;
	}
}


@media(max-width: 500px){


	.c1{
		width: 100%;
	}

	.c_pl_img{
		width: 80%;
	}

	.cont_1{
		width: 80%;
	}

	.com_name{
		font-size: 18px;
	}
}




.c_pl_img{
	border-radius: 25px;
	border-color: turquoise;
	border-width: 2px;
	border-style: solid;
	margin-left: 10%;

	/* Related to tilt.js */
	transform: translateZ(100px);

}

.c_pl_img{
	cursor: pointer;
}


.cont_1{
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;

	/* Related to tilt.js */
}

.img_wrapper{
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.p_text{
	margin-left: 15px;
	font-size: 25px;
}


.com_name{
	font-weight: 700;
	text-decoration: none;
	color: #282828;
	text-shadow: #282828 1px 1px 1px;
	padding-left: 20px;

}

.com_name:hover{
	color: turquoise;
}