
.cr1 {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
}

.wrapcol{
	width: 100%;
}

.c1{
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.hyperlink_wrap{
	padding-top: 80px;
}






@media(min-width: 500px){

	.c1{
		width: 500px;
	}

	.c_pl_img{
		width: 300px;
		height: 300px;
	}

	.cont_1{
		width: 400px;
	}

}


@media(max-width: 500px){


	.c1{
		width: 100%;
	}

	.c_pl_img{
		width: 80%;
	}

	.cont_1{
		width: 80%;
	}
}




.c_pl_img{
	border-radius: 25px;
	border-color: turquoise;
	border-width: 2px;
	border-style: solid;
	margin-left: 12.5%;

	/* Related to tilt.js */
	transform: translateZ(100px);

}

.c_pl_img{
	cursor: pointer;
}


.cont_1{
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	border-radius: 10px;
	padding-bottom: 25px;

	/* Related to tilt.js */
	background: rgb(232,84,47);
	background: linear-gradient(90deg, rgba(232,84,47,1) 0%, rgba(245,159,44,1) 74%, rgba(245,182,44,1) 88%);
	box-shadow: #282828 5px 5px 5px;
}

.comic-name_wrapper{
	text-align: center;
}

.img_wrapper{
	transform-style: preserve-3d;
	transform: perspective(1000px);
	}

.p_text{
	margin-left: 15px;
	font-size: 25px;
}


.com_name{
	font-weight: 700;
	text-decoration: none;
	color: #282828;
	text-shadow: #282828 1px 1px 1px;
	padding-left: 20px;
	font-size: 25px;

}

.com_name:hover{
	color: turquoise;
}