p {
	color: #fafafa;
}

/*Separator*/

.separator{
    color: #282828;
    margin-left: auto;
    margin-right: auto;
    outline: #282828;
    outline-color: #282828;
    outline-width: 10px;
    margin-top: 70px;
}

.cont_breadcrumb{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	color: #282828 !important;
}

.breadcrumb-hyperlink{
	text-decoration: underline;
	color: #282828;
}

@media(min-width: 500px){

	.separator{
		width: 80%;
	}
	.cont_breadcrumb{
		width: 80%;
	}

}


@media(max-width: 500px){

	.separator{
		width: 95%;
	}
	.cont_breadcrumb{
		width: 95%;
	}

}

.breadcrumb{
	width: 100%;
}

.breadcrumb-item{
	background-color: turquoise;
	color: #282828 !important;
}



.volume_num{
	padding-left: 25px;
	font-size: 20px;
    font-weight: 300;
    color: #282828;
    font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	
	padding-top: 6px;

}

.volume_num_head{

	font-size: 25px;
	padding-left: 25px;
	color: #282828;
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
}

.volume_name{
	font-size: 45px;
	font-weight: 900;
	color: #282828;
	font-family: 'Barlow', sans-serif;
	text-shadow: #282828 1px 1px 1px;
}

.volume_number{
	font-size: 18px;
	color: #282828;
	font-family: 'Barlow', sans-serif;
	text-shadow: #282828 1px 1px 1px;
	padding: 0;
}

.volume_descr{
	font-size: 22px;
    font-weight: 300;
    color: #282828;
    font-family: 'Libre Franklin', sans-serif;
}

.comic_about_name{
	font-size: 45px;
	font-weight: 900;
	color: #282828;
	font-family: 'Barlow', sans-serif;
	text-shadow: #282828 1px 1px 1px;
	text-align: left;
}

.comic_about_descr{
	font-size: 25px;
    font-weight: 300;
    color: #282828;
    font-family: 'Libre Franklin', sans-serif;
	text-align: left;
}

.t{
	margin-left: 15px;
	font-size: 25px;
	color: #282828;
}



.v_pl_img{
	outline: solid;
	outline-color: turquoise;
	outline-width: 2px;
	border-radius: 15px;
	box-shadow: #282828 5px 5px 5px;
	margin-top: 10px;
}	

.v_pl_img:hover{
	box-shadow: #282828 0px 0px 0px;
}	




.chp_btn{
	background-color: #282828 !important;
	color: #fafafa !important;
	font-weight: 900;
	margin-top: 10px;
	font-family: 'Lora', serif !important;
	font-size: 15px;
	box-shadow: #282828 2px 2px 2px;
	border-color: turquoise !important;
	border-width: 2px !important;
}

.chp_btn:hover{
	background-color: turquoise !important;
}

.rowwww{
	flex-wrap: wrap;
	display: flex;
	padding-top: 45px;
}

.rowwww_2{
	flex-wrap: wrap-reverse;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.rowwww_3{
	flex-wrap: wrap;
	display: flex;
}

.cont_volum{
	flex-grow: 0;
	
}

.cont_volum_2{
	flex-grow: 0;
}

.cont_volum_3{
	flex-grow: 0;
}


.see_more_text{
	text-decoration: none;
	color: #282828;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.see_more_text:hover{
	color: turquoise;
}

.card{
	background-color: turquoise !important;
}


.v_row{
	display: flex;
	flex-wrap: wrap;

}


.expand_info_btn{
	background-color: #282828 !important;
	width: 200px;
	color: #fafafa !important;
	font-family: 'Lora', serif !important;
	font-size: 15px;
	box-shadow: #282828 2px 2px 2px;
	border-color: turquoise !important;
	border-width: 2px !important;
}

.expand_info_btn:hover{
	background-color: turquoise !important;
	box-shadow: #282828 0px 0px 0px;
}

.cont_volum_5{
	margin-left: auto;
	margin-right: auto;
}

.cont_comic_about{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 45px;
}


@media(min-width: 1100px){
	.cont_comic_about{
		width: 80%;
	}

	
	.rowwww_2{
		width: 700px;
	}
}

@media(min-width: 500px) and (max-width: 1100px){
	.cont_comic_about{
		width: 80%;
	}

	.rowwww_2{
		width: 80%;
	}
}

@media(max-width: 500px){
	.cont_comic_about{
		width: 90%;
	}

	.rowwww_2{
		width: 100%;
	}
}

@media(min-width: 900px){

	.expand_info_btn{
		margin-left: auto;
		margin-right: auto;
	}

	.volume_name{
		text-align: center;
	}
	.volume_descr{
		text-align: center;
	}

	.cont_volum_2{
		width: 35vw;
	}

	.cont_volum_3{
		width: 45vw;
	}


	.cont_volum_4{
		width: 50%;
		margin-left: auto;
		margin-right: auto;

	}

	.cont_volum_5{
		width: 50%;
		margin-left: auto;
		margin-right: auto;

	}

	.chp_btn{
		width: 270px !important;
	}


	
	.v_pl_img{
		width: 200px;
		height: 260px;

	}

	.v_c_1{
		width: 30vw;
	}


	.v_c_2{
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}

	.cont_1{
		width: 400px;
	}
}

@media(max-width: 900px) and (min-width: 500px){


	.expand_info_btn{
		margin-left: 0px !important;
	}


	.volume_name{
		text-align: left;
	}
	.volume_descr{
		text-align: left;
	}

	.cont_volum_2{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.cont_volum_3{
		padding-top: 45px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}


	.chp_btn{
		width: 100% !important;
	}

	.v_pl_img{
		width: 200px;
		height: 260px;
	}


	.cont_1{
		width: 400px;
	}

	
	.cont_volum{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.cont_volum_4{
		padding-top: 50px;
		width: 100%;
	}
	.cont_volum_5{
		width: 100%;
	}		


}




@media(max-width: 500px){

	.expand_info_btn{
		margin-left: 0px !important;
	}


	.cont_volum_2{
		width: 100%;
	}

	.cont_volum_3{
		padding-top: 45px;
		width: 100%;
	}


	
	.chp_btn{
		width: 100% !important;
	}


	.v_pl_img{
	width: 100%;
	}

	@media(min-width: 500px){
		.v_pl_img{
			width: 100% !important;
		}
	}

	
	@media(max-width: 500px){
		.v_pl_img{
			width: 40% !important;
		}
	}
	.cont_volum{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}	

	.cont_volum_4{
		width: 90%;
		padding-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}	

	.cont_volum_5{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}	

}

@media(min-width: 900px){
	.col_1{
		width: 30%;
	}

	.col_2{
		width: 70%;
	}
}

@media(max-width: 900px) and (min-width: 700px){
	.col_1{
		width: 45%;
	}

	.col_2{
		width: 55%;
	}
}

@media(max-width: 700px){
	.col_1{
		width: 100%;
	}

	.col_2{
		width: 100%;
	}
}


.sub-title{

    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
    background: rgb(64,224,208);
		background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(71,200,187,1) 44%, rgba(115,214,204,1) 88%);
    color: #282828;
    width: 175px;
    text-align: center;
    font-size: 43px;
}

.subtitle-wrapper{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 70px;
}



@media(min-width: 500px){
	.subtitle-wrapper{
		width: 80%;
	}

}

@media(max-width: 500px){
	.subtitle-wrapper{
		width: 95%;
	}

}


