.index-body {
	background: rgb(136,120,195);
    background: linear-gradient(90deg, rgba(136,120,195,1) 3%, rgba(145,130,203,1) 66%, rgba(93,79,144,1) 100%);

}

.hamburger{
    height: 50px;
    width: 50px;
    opacity: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 50;
    background: rgb(64,224,208);
    background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(71,200,187,1) 44%, rgba(115,214,204,1) 88%);
    border-radius: 5px;

}

.hamburger:hover {
    opacity: 100%;
    background-color: #fafafa;
}


.offcanvas-logo{
    width: 60px;
    height: 40px;
    border-color: #282828;
    border-style: solid;
    border-width: 2px;
    box-shadow: turquoise 1px 1px 1px;
    background-color: #282828;
}

.offcanvas-logo:hover{
    opacity: 75%;
    cursor: pointer;
}


/* popover css */

@media(min-width: 400px){
    .offcanvas-page-img{

        width: 100%;
        height: 100px;
    }
}


@media(max-width: 400px){
    .offcanvas-page-img{
        width: 100%;
    }
}

.offcanvas-page-img{
    border-radius: 25px;
    border-color: #8878c3;
    border-style: solid;
    border-width: 2px;
    margin-top: 2vh;
    box-shadow: #282828 5px 5px 5px;

}

.offcanvas-page-img:hover{
    opacity: 95%;
    box-shadow: #fafafa 0px 0px 0px;
}

.offcanvas{
    background-color: transparent !important;
}

.offcanvas-title{
    font-size: 30px !important;
    font-family: font-family: 'Lora', serif;
    font-weight: 700 !important;
    text-decoration: none;
    color: turquoise !important;
}

.offcanvas-title:hover{
    opacity: 75%;
    cursor: pointer;
}

.offcanvas-body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

.offcanvas-body_col{
    border-color: #8878c3;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

}

.offcanvas-header{
    color: turquoise;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);

}


.btn-close{
    background-color: turquoise !important;
    opacity: 95% !important;
}


.btn-close:hover{
    background-color: turquoise !important;
    opacity: 50% !important;
}


/* info button img */

.info-icon{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 140;
    box-shadow: #282828 1px 1px 1px;
    background-color: #8878c3;
    opacity: 75%;
}

.info-icon:hover{
    opacity: 100%;
    box-shadow: #282828 0px 0px 0px;
}


/* css belonging To all pages */

.w-title{
    opacity: 1;
    background-position: left;
}

@media(min-width: 2000px){
    .w-title{
        background-size: 2000px 144px;
    }
}

@media(max-width: 2000px){
    .w-title{
        background-size: 2000px 144px;
    }
}

.Title{
    color: #282828;
    font-weight: 900;
    padding-top: 60px;
    margin-left: 15px;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
}

@media(min-width: 400px){
    .Title{
        font-size: 70px;
    }
}

@media(max-width: 400px){
    .Title{
        font-size: 40px;
    }
}


.w{
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
}

@media(min-width: 500px){

    .w{
        width: 80vw;
    }
}

@media(max-width: 500px){

    .w{
        width: 100vw;
    }
}

p{
    padding: 0;
    margin: 0;
}


.wrap-subtitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.footer{
    height: 100px;
}

/* Social Icons */

.icons-row-parent {
    flex-wrap: wrap;
    display: flex;
    margin-top: 25px;
    width: 264px;

}


.icons{
    border-radius: 2px;
    border-color: turquoise;
    border-style: solid;
    border-width: 1px;
    box-shadow: #282828 5px 5px 5px;
    margin-top: 15px;
    height: 35px;
    width: 35px;
    margin-left: 3px;
    margin-right: 3px;

}

.icons:hover {
    box-shadow: #282828 5px 5px 5px;
    cursor: pointer;
    opacity: 75%;
}

.powered-row-parent {
    margin-top: 10px;
    color: #fafafa;

}

@media(min-width: 700px){
    .powered-row-parent{
        margin-left: 10%;
    }

    .icons-row-parent{
        margin-left: 10%;
    }

    .powered-row-parent {
   
        width: 264px;
        padding-left: 3px;
    }

    .icons{
        height: 35px;
        width: 35px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .icons-row-parent {
        width: 264px;

    }
}

/* Info icon + 10px padding either side */
@media(max-width: 700px) and (min-width: 400px){
    .powered-row-parent{
        margin-left: 70px;
    }

    .icons-row-parent{
        margin-left: 70px;
    }

    .powered-row-parent {
   
        width: 264px;
        padding-left: 3px;
    }

    .icons{
        height: 35px;
        width: 35px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .icons-row-parent {
        width: 264px;

    }

}

@media(max-width: 400px){
    .powered-row-parent{
        margin-left: 70px;
    }

    .icons-row-parent{
        margin-left: 70px;
    }

    .powered-row-parent {
   
        width: 200px;
        padding-left: 2px;
    }

    .icons{
        height: 22px;
        width: 22px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .icons-row-parent {
        width: 200px;

    }
}


.w-end{
    padding-top: 70px;
}

