

.Title{
    text-align: center;
}

.l_text{
    font-size: 25px;
    font-weight: 300;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    padding-top: 70px;
}


.l_email_text{

    color: black;
    padding-top: 25px;
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    text-shadow: #fafafa 1px 1px 1px;
}


.wrap_g{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.wrap-ft-vids{
    width: 80%;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.vid-wrap{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}


.yt-vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.g_row{
    flex-wrap: wrap;
    display: flex;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.parent_g_row {
    flex-wrap: wrap;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.gallery_img{
    width: 90%;
    border-radius: 15px;
    border-color: turquoise;
    border-style: solid;
    border-width: 1px;
    box-shadow: black 5px 5px 5px;
}

.gallery_img:hover {
    box-shadow: black 5px 5px 5px;
    cursor: pointer;
    opacity: 75%;
}

.img_cont{
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 800px){

    .parent_g_row{
        width: 300px;
    }


    .img_cont{
        width: 70px;
        height: 70px;
    }
}

@media(min-width: 400px) and (max-width: 800px){

    .parent_g_row{
        width: 140px;
    }

    .img_cont{
        width: 70px;
        height: 70px;
    }

}

@media(max-width: 400px){


    .img_cont{
        width: 200px;
    }

}


.separator{
    width: 80%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    outline: black;
    outline-color: black;
    outline-width: 10px;
}


