<!doctype html>
<html lang="en">

  {% extends 'cc_app/index.html' %}
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block style %}
      <link href="{% static 'cc_app/css/about_us.css' %}" rel="stylesheet" type="text/css" />


       <script src="https://www.google.com/recaptcha/api.js"></script>

    {% endblock %}

    
  </head>
  <body>
    
    {% block body %}

    <!--<div class="page-background">-->


        {% if header_img_url %}

          <div class="w-title" style="background-image: url( '{{header_img_url.url}}' )" />
            <h1 class="Title">
                About Us
            </h1>
          </div>

        {% else %}

          <div class="w-title" style="background-color: black;">
            <h1 class="Title">
                About Us
            </h1>
          </div>

        {% endif %}

        {% if page_text_content_1 %}

        <div class="text-wrapper">
          <p class="about-us-text">

            <!-- {{comic.comic_description}} -->

                {{page_text_content_1.text_content}}
            
          </p>
       
        </div>
        {% endif %}


      {% if personnel %}

      <hr class="separator" />

      <div class="subtitle-wrapper-1">
          <h2 class="sub-title-1">
              Meet The Team
          </h2>
      </div>
      {% for person in personnel %}

        {% if person.even == 'false' %}
          <div class="d-flex flex-row personnel_row1">

            <div class="personnel_col1">
              <div class="container my-2">
                <center>
                  <img src="{{person.person_img_426_by_284.url}}" class="personnel_img" alt="Meet the Creative Cortex team"/>
                </center>

          
              </div>     
            </div>

            <div class="personnel_col2">
              <div class="container my-3 personnel_text-container">
              
                <div class="d-flex flex-row text-container_row">
                  <div class="text-container_col1">
                    <p class="col1-text">Name:</p>
                  </div>
                  <div class="text-container_col2">
                    <p class="col2-text">{{person.full_name}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row text-container_row">
                  <div class="text-container_col1">
                    <p class="col1-text">&nbsp;Mob:</p>
                  </div>
                  <div class="text-container_col2">
                    <p class="col2-text">{{person.phone_number}}</p>
                  </div>
                </div>
                
              </div>    
            </div>
          </div>
        {% else %}

          <div class="d-flex flex-row personnel_row2">

            <div class="personnel_col2">
              <div class="container my-3 personnel_text-container">
              
                <div class="d-flex flex-row text-container_row">
                  <div class="text-container_col3">
                    <p class="col3-text">Name:</p>
                  </div>
                  <div class="text-container_col4">
                    <p class="col4-text">{{person.full_name}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row text-container_row">
                  <div class="text-container_col3">
                    <p class="col3-text">&nbsp;Mob:</p>
                  </div>
                  <div class="text-container_col4">
                    <p class="col4-text">{{person.phone_number}}</p>
                  </div>
                </div>
              
              </div>    
            </div>

            <div class="personnel_col1">
              <div class="container my-3">
                <center>
                  <img src="{{person.person_img_426_by_284.url}}" class="personnel_img" alt="Meet the Creative Cortex team"/>
                </center>

              </div>     
            </div>
          </div>
          
        {% endif %}

      {% endfor %}
      {% endif %}

      <hr class="separator" />

      <div class="subtitle-wrapper">
          <h2 class="sub-title">
              Inquiries
          </h2>
      </div>

      <div class="form-wrapper-parent">
        
      <div class="form-wrapper">
        
        <form action="{% url 'about_us' %}" method="post" class="needs-validation" novalidate id="form">
        {% csrf_token %}

        <div class="d-flex flex-row form-row">
          <div class="flex-col form-col">

            <div class="container">
              
              <label for="your_name" class="form-label">Your Name: </label>
              <input id="your_name" class="form-control" type="text" name="your_name" maxlength="25" required />
              <div class="error">
                {{ form.your_name.errors }}
              </div>

            </div>

            <br />

          </div>
          <div class="flex-col form-col">

            <div class="container">

              <label for="email_address" class="form-label">Email: </label>
              <input id="email_address" class="form-control" type="text" name="email_address" maxlength="50" required />
              <div class="error">
                {{ form.email_address.errors }}
              </div>

            </div>

          </div>
        </div>

        <br />

        <div class="d-flex flex-row form-row">
            <div class="flex-col form-col">
              
              <div class="container">

                <label for="subject" class="form-label">Subject: </label>
                <textarea id="subject" class="form-control" type="text" name="subject" maxlength="500" required rows="5"></textarea>
                <div class="error">
                {{ form.subject.errors }}
                </div>

              </div>
              
            </div>
        </div>


        <br />

        <div class="d-flex flex-row">
          <div class="flex-col">
            <div class="container">
              <button 
              id="submit" 
              type="submit" 
              class="btn form-button"
              >
                <p class="form-button-text">Submit</p>
              </button>
            </div>
          </div>
        </div>

          <br />

      </form>
    </div>


    {% endblock %}
   
  </body>
</html>