<!doctype html>
<html lang="en">

{% extends 'cc_app/index.html' %}
{% load static %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block style %}
      <link href="{% static 'cc_app/css/comic_detail.css' %}" rel="stylesheet" type="text/css" />

      <meta name="description" content="Discover the exciting world of {{comic.comic_name}}, the latest comic from Creative Cortex! Get detailed production information, and meet the talented team members who brought the story to life. Explore the volumes and chapters and experience this thrilling story for yourself.">

      <meta name="keywords" content="Creative Cortex, {{comic.comic_name}}, comic, production information, in production, team members, volumes, chapters, thrilling story, experience">


      <style type="text/css">

      .cont_volume_2_cont{
          background-image: url( "{% static 'cc_app/images/placeholders/comic_1.jpg' %}" );
          background-position: center bottom;
          background-repeat: no-repeat;
      }

      .subtitle-wrapper{
          background-image: url( "{% static 'cc_app/images/placeholders/comic_2.jpg' %}" );
          background-position: center bottom;
          background-size: 100%;
      }

      </style>
    {% endblock %}

    
  </head>
  <body>
    
    {% block body %}
  

      {% if header_img_url %}
          
          <div class="w-title" style="background-image: url( '{{header_img_url.url}}' )">
            <h1 class="Title">
                {{comic.comic_name|truncatechars:10}}
            </h1>
          </div>

        {% else %}

          <div class="w-title" style="background-color: black;">
            <h1 class="Title">
                {{comic.comic_name|truncatechars:10}}
            </h1>
          </div>

      {% endif %}

      <div class="cont_breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'comics' %}" class="breadcrumb-hyperlink">comics</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{comic.comic_name}}</li>
          </ol>
        </nav>

      </div>

      <div class="d-flex flex-row rowwww">

        <div class="cont_volum_2">
          <div class="cont_volume_2_cont">
            <center>
              <img src="{% static 'cc_app/images/volumes_page_placeholder_img.jpg' %}" class="v_pl_img" alt="Comic backdrop" />
            </center>
          </div>     
        </div>

        <div class="cont_volum_3">
          <div>

            <div class="d-flex flex-row v_row">
              <div class="col_1">
                <p class="volume_num_head">Genre(s):</p>
              </div>
              <div class="col_2">
                <!-- for genre in genres  (currently plural objects do not exist -->
                <p class="volume_num">Placeholder 1 Placeholder</p>

              </div>
            </div>

            <div class="d-flex flex-row v_row">
              <div class="col_1">
                <p class="volume_num_head">Status:</p>
              </div>
              <div class="col_2">
                <p class="volume_num">
                  <!-- if {{comic.ongoing}} == True -->
                  Ongoing
                  <!-- else -->
                  Discontinued.
                </p>
              </div>
            </div>
            
          </div>    
        </div>
      </div>

      <br/>

      <div class="d-flex flex-row rowwww_3">

        <div class="cont_volum_2">
          <div>
            <center>
              <p>
                <a class="btn expand_info_btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  More Info
                </a>
              </p>
            </center>
      
          </div>     
        </div>

        <div class="cont_volum_3">
    
          
            <div class="collapse" id="collapseExample">
            
              <div class="d-flex flex-row v_row">
                <div class="col_1">
                  <p class="volume_num_head">Author(s):</p>
                </div>
                <div class="col_2">

                  <!-- for comic_personnel in comic_personnel_related -->
                    <!-- if comic_personnel.role == 'Author' -->
                      <p class="volume_num">Placeholder 1 Placeholder</p>
                      
                    <!-- endif -->
                  <!-- endfor -->
                </div>
              </div>
              <div class="d-flex flex-row v_row">
                <div class="col_1">
                  <p class="volume_num_head">Artist(s):</p>
                </div>
                <div class="col_2">
                  <!-- for comic_personnel in comic_personnel_related -->
                    <!-- if comic_personnel.role == 'Artist' -->
                      <p class="volume_num">Placeholder 1 Placeholder</p>
                    <!-- endif -->
                  <!-- endfor -->
                </div>
              </div>

              <div class="d-flex flex-row v_row">
                <div class="col_1">
                  <p class="volume_num_head">Released:</p>
                </div>
                <div class="col_2">
                  <p class="volume_num">Placeholder 1 Placeholder</p>
              
                </div>
              </div>
              <div class="d-flex flex-row v_row">
                <div class="col_1">
                  <p class="volume_num_head">Next Release:</p>
                </div>
                <div class="col_2">
                  <p class="volume_num">Volume 1</p>
                </div>
              </div>
            
            </div>
            
          </div>    
      </div>


      <div class="collapse" id="collapseExample">

        <hr class="separator" />
        
        <div class="cont_comic_about">

          <p class="comic_about_name">About Comic</p>
          <p class="comic_about_descr">

            {{comic.comic_description}}

          </p>
            
        </div>

      </div>
      

      {% if volumes %}

      <hr class="separator" />

      <!-- check if volumes, if not display an error -->

        {% for volume in volumes %}

          <div class="subtitle-wrapper">
              <h2 class="sub-title">
                  vol: {{volume.vol_number}}
              </h2>
          </div>

          <div class="d-flex flex-row rowwww_2">

            <div class="cont_volum_4">
      
                {% for chapter in chapters %}
                  {% if chapter.volume == volume %}
                    <a type="button" class="btn chp_btn" href="{% url 'pages' comic_param=comic.slug volume_param=1 chapter_param=1 page_param=1 %}">chapter: {{chapter.chapter_number}}
                    </a>
                
                  {% endif %}
                {% endfor %}
                
            </div>

            <div class="cont_volum_5">
             
              <p class="volume_name"> 
               {{volume.volume_title}}
              </p>
              <p class="volume_descr">
                {{volume.volume_description}}
              </p>
          
            </div>
            
          </div>
        {% endfor %}
    
      {% endif %}

    {% endblock %}
    
  </body>
</html>