<!doctype html>
<html lang="en">

  {% extends 'cc_app/index.html' %}
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block style %}
      <link href="{% static 'cc_app/css/500.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    
  </head>
  <body>
    
    {% block body %}

      <div class="e_w">
        <center>
          <a href="{% url 'landing_page' %}">
            <img src="{% static 'cc_app/images/500_error_img.jpg' %}" class="img_error">
          </a>
        </center>
      </div>
    {% endblock %}
   
  </body>
</html>