<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


      <link href="{% static 'cc_app/css/landing_page.css' %}" rel="stylesheet" type="text/css">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    
  </head>
  <body>
      
      <div data-relative-input="true" id="scene" class="scene">
        <div data-depth="0.2">
          <div class="title-wrapper">
            <p class="title-text">Creative Cortex</p>
          </div>
      </div>
      </div>
      
      <div class="title-wrapper">
            <p class="title-text">Creative Cortex</p>
      </div>

       <center>
          <div id="carouselExampleFade" class="carousel carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active" data-bs-interval="200">
                
              </div>

              {% for image in carousel_img_objects %}
                <div class="carousel-item" data-bs-interval="5000">
                  <img src="{{image.landing_page_img_n_by_n.url}}" class="landing-page-img">
                </div>
              {% endfor %}
            </div>
          </div>
          </center>
      

      

      <img src="{% static 'cc_app/images/index/hamburger_icon.png' %}" class="hamburger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">

      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <a href="{% url 'landing_page' %}">
            <img src="{% static 'cc_app/images/index/CC_logo.png' %}" class="offcanvas-logo" href="">
          </a>

          <a class="offcanvas-title" id="offcanvasScrollingLabel" href="{% url 'landing_page' %}">Creative Cortex</a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

          <!-- page height 100 % -->
          <!-- make each of these links an image of height 10-15% -->
          <col class="offcanvas-body_col">
            <row>
              <a href="{% url 'landing_page' %}">
                <img src="{% static 'cc_app/images/index/pop-homepage.jpg' %}" class="offcanvas-page-img" alt="...">
              </a>
            </row>

            <row>
              <a href="{% url 'comics' %}">
                <img src="{% static 'cc_app/images/index/pop-comics.jpg' %}" class="offcanvas-page-img" alt="...">
              </a>
            </row>

            <row>
              <a href="{% url 'gallery' %}">
                <img src="{% static 'cc_app/images/index/pop-gallery.jpg' %}" class="offcanvas-page-img" alt="...">
              </a>
            </row>

            <row>
              <a href="{% url 'links' %}">
                <img src="{% static 'cc_app/images/index/pop-links.jpg' %}" class="offcanvas-page-img" alt="...">
              </a>
            </row>

            <row>
              <a href="{% url 'about_us' %}">
                <img src="{% static 'cc_app/images/index/pop-about.jpg' %}" class="offcanvas-page-img" alt="...">
              </a>
            </row>


          </col>
          
        </div>


    </div>

    <a href="{% url 'about_us' %}">
        <img src="{% static 'cc_app/images/index/info.png' %}" class="info-icon" alt="...">
    </a>

    <script>
      var scene = document.getElementById('scene');
      var parallaxInstance = new Parallax(scene);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   
  </body>
</html>