<!doctype html>
<html lang="en">

  {% extends 'cc_app/index.html' %}
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block style %}
      <link href="{% static 'cc_app/css/links.css' %}" rel="stylesheet" type="text/css">

      <!-- HEADER IMG -->

      <style>

        .w-title{
          background-image: url( "{% static 'cc_app/images/placeholders/comic_1.jpg' %}" );
        }

      </style> 
      
    {% endblock %}

    
  </head>
  <body>
    
    {% block body %}
      <div class="w">

        <div class="w-title">
          <h1 class="Title">
              Links
          </h1>
        </div>



        <div class="wrap_g">

          {% if page_text_content_1 %}
          <p class="l_text">
            
                {{page_text_content_1.text_content}}

          </p>
          {% else %}

          <p class="l_text">
            
                Please insert text content for web page.

          </p>

          {% endif %}



          <h2 class="l_email_text">
             Kofi@gmail.com
          </h2>



          <div class="d-flex flex-row parent_g_row">

            <div class="d-flex flex-row g_row">

              <div class="img_cont">

                <img src="{% static 'cc_app/images/links/links.jpg' %}" class="gallery_img">
              
                <br><br>

              </div>

              <div class="img_cont">

                <img src="{% static 'cc_app/images/links/reddit.jpg' %}" class="gallery_img">
              
                <br><br>

              </div>

            </div>

            <div class="d-flex flex-row g_row">

              <div class="img_cont">

                <img src="{% static 'cc_app/images/links/instagram.jpg' %}" class="gallery_img">
              
                <br><br>

              </div>

              <div class="img_cont">

                <img src="{% static 'cc_app/images/links/twitter.jpg' %}" class="gallery_img">
              
                <br><br>

              </div>

            </div>

            <div class="d-flex flex-row g_row">

              <div class="img_cont">

                <img src="{% static 'cc_app/images/links/discord.jpg' %}" class="gallery_img">
              
                <br><br>

              </div>

              <div class="img_cont">

                <img src="{% static 'cc_app/images/links/behance.jpg' %}" class="gallery_img">
              
                <br><br>

              </div>


            </div>


          </div>

        </div>

          {% if featured_videos %}

          <div class='container my-5 sep_cont'>
            <hr class="separator">
          </div>

         

           <div class="wrap-subtitle">
              <h2 class="sub-title">
                  Videos
              </h2>
            </div>


          <div class="wrap-ft-vids">


            {% for feature in featured_videos %}
            <div class="container my-5">
              <div class="vid-wrap">
                <iframe src="{{feature.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="yt-vid"></iframe>
              </div>
            </div>
            {% endfor %}
          </div> 


          {% endif %}


      
        </div>

        

      </div>
    {% endblock %}
   
  </body>
</html>