<!doctype html>
<html lang="en">

  {% extends 'cc_app/index.html' %}
  {% load static %}
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block style %}
      <link href="{% static 'cc_app/css/links.css' %}" rel="stylesheet" type="text/css" />

      <meta name="description" content="Get the latest news and updates from Creative Cortex! Our content hub links together third-party social media information and YouTube videos, providing you with behind-the-scenes access to our comics and the creative team behind them. Explore the content hub now and stay up-to-date on everything Creative Cortex.">

      <meta name="keywords" content="Creative Cortex, content hub, social media, YouTube, behind-the-scenes, comics, creative team, news, updates">


    {% endblock %}

  </head>
  <body>
    
    {% block body %}

        {% if header_img_url %}

          <div class="w-title" style="background-image: url( '{{header_img_url.url}}' )">
            <h1 class="Title">
                Links
            </h1>
          </div>

        {% else %}

          <div class="w-title" style="background-color: black;">
            <h1 class="Title">
                Links
            </h1>
          </div>

        {% endif %}

        <div class="text-wrapper">

          {% if page_text_content_1 %}

            <p class="links-text1">
              
              {{page_text_content_1.text_content}}

            </p>

          {% else %}

            <p class="links-text1">
              
              Please insert text content for web page.

            </p>

          {% endif %}

        </div>

          {% if featured_videos %}

          <hr class="separator" />
        
           <div class="subtitle-wrapper">
              <h2 class="sub-title">
                  Videos
              </h2>
            </div>

          <div class="video-section">

            {% for feature in featured_videos %}

              <div class="video-wrapper-parent">

                <div class="video-wrapper-child">
                  <iframe src="{{feature.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video"></iframe>
                </div>
              </div>

            {% endfor %}

          </div> 
          
          {% endif %}

    {% endblock %}
   
  </body>
</html>