<!doctype html>
<html lang="en">

{% extends 'cc_app/index.html' %}
{% load static %}

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block style %}
      <link href="{% static 'cc_app/css/pages.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}
    
  </head>
  <body>

    {% block body %}

      <div class="stack_wrapper">
        
        <div class="hstack gap-2">
          <div class="stack_0">
             <a type="button" class="btn back_btn" href="{% url 'comic-detail' comic_param=comic.slug %}">
                <p class="b_2_ch_text">
                  Chapters
                </p>
              </a>
          </div>
            
          <div class="stack_1">
              <div class="s1_col">
                <div class="s1_row">
                  <p class="c_pag_info">
                    {{comic.comic_name|truncatechars:7}} /
                  </p>
                </div>
                <div class="s1_row">
                  <p class="c_pag_info">
                    Vol: {{volume.vol_number}} /
                  </p>
                </div>
                <div class="s1_row">
                  <p class="c_pag_info">
                    Chapter: {{chapter.chapter_number}}
                  </p>
                </div>
              </div>
       
          </div>

          <div class="stack_2">
            
            {% if previous_page_exists == False and next_page_exists == False %}
    
              <div class="p_row d-flex flex-row">
                <div class="p_col">
                  <a type="button" class="btn btn-disabled" disabled>
                  
                  </a>
                </div>
                <div class="p_col">
                    <p class="m">
                      {{current_page_number}} FDFS
                    </p>
                </div>
                <div class="p_col">
                    <a type="button" class="btn btn-disabled" disabled>
                     
                  </a>
                </div>
              </div>
          
            {% elif previous_page_exists == False and next_page_exists == True %}

              <div class="p_row d-flex flex-row">
                <div class="p_col">
                  <a type="button" class="btn btn-disabled" disabled>
                  
                  </a>
                </div>
                <div class="p_col">
                  <p class="m">
                      {{current_page_number}}
                  </p>
                </div>
                <div class="p_col">
                  <a type="button" class="btn btn-pages" href="{% url 'pages' comic_param=comic.slug volume_param=volume.vol_number chapter_param=chapter.chapter_number page_param=next_page_number %}">
                    <p class="s_e_t">
                      {{next_page_number}}
                    </p>
                  </a>
                </div>
              </div>

            {% elif previous_page_exists == True and next_page_exists == False %}

              <div class="p_row d-flex flex-row">
                <div class="p_col">
                  <a type="button" class="btn btn-pages" href="{% url 'pages' comic_param=comic.slug volume_param=volume.vol_number chapter_param=chapter.chapter_number page_param=previous_page_number %}">
                    <p class="s_e_t">
                      {{previous_page_number}}
                    </p>
                  </a>
                </div>
                <div class="p_col">
                    <p class="m">
                      {{current_page_number}}
                    </p>
                </div>
                <div class="p_col">
                  <a type="button" class="btn btn-disabled" disabled>
                   
                  </a>
                </div>
              </div>

            {% else %}

                <div class="p_row d-flex flex-row">
                  <div class="p_col">
                    <a type="button" class="btn btn-pages" href="{% url 'pages' comic_param=comic.slug volume_param=volume.vol_number chapter_param=chapter.chapter_number page_param=previous_page_number %}">
                      <p class="s_e_t">
                      {{previous_page_number}}
                      </p>
                    </a>
                  </div>

                  <div class="p_col">
                    <p class="m">
                      {{current_page_number}}
                    </p>
                  </div>
                  <div class="p_col">
                    <a type="button" class="btn btn-pages" href="{% url 'pages' comic_param=comic.slug volume_param=volume.vol_number chapter_param=chapter.chapter_number page_param=next_page_number %}">
                      <p class="s_e_t">
                      {{next_page_number}}
                      </p>
                    </a>
                    
                  </div>
                </div>

              {% endif %}

            </div>
        </div>
      </div> 

      <center>
        <img src="{{current_page_obj.page_img.url}}" class="t_p" alt="image for {{comic.comic_name}} vol: {{volume.vol_number}} chapter: {{chapter.chapter_number}} page: {{current_page_number}}" />
      </center>

      <script>
        // Define variables to keep track of touch position
        let xDown = null;
        let yDown = null;

        // Add touch event listeners to the document
        document.addEventListener('touchstart', handleTouchStart, false);
        document.addEventListener('touchmove', handleTouchMove, false);

        // Touch start event handler
        function handleTouchStart(evt) {
            xDown = evt.touches[0].clientX;
            yDown = evt.touches[0].clientY;
        }

        // Touch move event handler
        function handleTouchMove(evt) {
            if (!xDown || !yDown) {
                return;
            }

            // Calculate touch distance traveled
            let xDiff = xDown - evt.touches[0].clientX;
            let yDiff = yDown - evt.touches[0].clientY;

            // Determine swipe direction
            if (Math.abs(xDiff) > Math.abs(yDiff)) {
                if (xDiff > 0) {
                    alert('left so redirect to next page');
                } else {
                    alert('right so redirect to previous page');
                }
            }

            // Reset touch position variables
            xDown = null;
            yDown = null;
        }
        </script>

        <script>
          document.addEventListener("keydown", function(event) {
            if (event.key === "ArrowLeft") {
              alert("previous");
            } else if (event.key === "ArrowRight") {
              alert("next");
            }
          });
        </script>

    {% endblock %}
   
  </body>
</html>